App_WebReferences/svc_lessonManagement/LessonManagement3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59736/visual tool webservice/LessonManagement.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:element name="getLessonsList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLessonsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="getLessonsListResult" nillable="true" type="q1:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDomainListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDomainListResult" nillable="true" type="q2:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchLesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q3:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSearchLessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSearchLessonResult" nillable="true" type="q4:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonDomain">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q5:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonDomainResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLessonDomainResult" nillable="true" type="q6:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q7:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCategoryListResult" nillable="true" type="q8:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDomainLesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q9:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDomainLessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCatDomainLessonResult" nillable="true" type="q10:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropDomainWithId">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q11:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropDomainWithIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillDropDomainWithIdResult" nillable="true" type="q12:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropDomainComplete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropDomainCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillDropDomainCompleteResult" nillable="true" type="q13:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropCategoryCat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q14:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropCategoryCatResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillDropCategoryCatResult" nillable="true" type="q15:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropCategoryComplete">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillDropCategoryCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillDropCategoryCompleteResult" nillable="true" type="q16:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q17:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveLessonResult" nillable="true" type="q18:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLessonData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q19:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EditLessonDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="EditLessonDataResult" nillable="true" type="q20:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q21:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateLessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateLessonResult" nillable="true" type="q22:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillClassList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FillClassListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillClassListResult" nillable="true" type="q23:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillStudentListComplete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q24:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FillStudentListCompleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="FillStudentListCompleteResult" nillable="true" type="q25:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLessonPlan">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q26:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteLessonPlanResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="DeleteLessonPlanResult" nillable="true" type="q27:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonDomainWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q28:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLessonDomainWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetLessonDomainWithSearchResult" nillable="true" type="q29:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q30:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCategoryListWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCategoryListWithSearchResult" nillable="true" type="q31:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDomainLessonWithSearch">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q32:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCatDomainLessonWithSearchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetCatDomainLessonWithSearchResult" nillable="true" type="q33:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOtherLessonType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q34:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveOtherLessonTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveOtherLessonTypeResult" nillable="true" type="q35:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileLesson">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q36:clsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateProfileLessonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateProfileLessonResult" nillable="true" type="q37:ResponseOut" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>