App_WebReferences/svc_reinforcementAssg/reinforcementAssg1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="reinforcementAssg" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/reinforcementAssg.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/reinforcementAssg.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/reinforcementAssg.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IreinforcementAssg_saveReinforcement_InputMessage">
    <wsdl:part name="parameters" element="tns:saveReinforcement" />
  </wsdl:message>
  <wsdl:message name="IreinforcementAssg_saveReinforcement_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveReinforcementResponse" />
  </wsdl:message>
  <wsdl:message name="IreinforcementAssg_getReinforcement_InputMessage">
    <wsdl:part name="parameters" element="tns:getReinforcement" />
  </wsdl:message>
  <wsdl:message name="IreinforcementAssg_getReinforcement_OutputMessage">
    <wsdl:part name="parameters" element="tns:getReinforcementResponse" />
  </wsdl:message>
  <wsdl:message name="IreinforcementAssg_getMedia_InputMessage">
    <wsdl:part name="parameters" element="tns:getMedia" />
  </wsdl:message>
  <wsdl:message name="IreinforcementAssg_getMedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:getMediaResponse" />
  </wsdl:message>
  <wsdl:portType name="IreinforcementAssg">
    <wsdl:operation name="saveReinforcement">
      <wsdl:input wsaw:Action="http://tempuri.org/IreinforcementAssg/saveReinforcement" message="tns:IreinforcementAssg_saveReinforcement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IreinforcementAssg/saveReinforcementResponse" message="tns:IreinforcementAssg_saveReinforcement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getReinforcement">
      <wsdl:input wsaw:Action="http://tempuri.org/IreinforcementAssg/getReinforcement" message="tns:IreinforcementAssg_getReinforcement_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IreinforcementAssg/getReinforcementResponse" message="tns:IreinforcementAssg_getReinforcement_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getMedia">
      <wsdl:input wsaw:Action="http://tempuri.org/IreinforcementAssg/getMedia" message="tns:IreinforcementAssg_getMedia_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IreinforcementAssg/getMediaResponse" message="tns:IreinforcementAssg_getMedia_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IreinforcementAssg" type="tns:IreinforcementAssg">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="saveReinforcement">
      <soap:operation soapAction="http://tempuri.org/IreinforcementAssg/saveReinforcement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getReinforcement">
      <soap:operation soapAction="http://tempuri.org/IreinforcementAssg/getReinforcement" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getMedia">
      <soap:operation soapAction="http://tempuri.org/IreinforcementAssg/getMedia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="reinforcementAssg">
    <wsdl:port name="BasicHttpBinding_IreinforcementAssg" binding="tns:BasicHttpBinding_IreinforcementAssg">
      <soap:address location="http://localhost:59736/visual%20tool%20webservice/reinforcementAssg.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>