App_WebReferences/svc_timeEditor/timeEditor1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="timeEditor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/timeEditor.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/timeEditor.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/timeEditor.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost:59736/visual tool webservice/timeEditor.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ItimeEditor_SaveTimeData_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeData" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_SaveTimeData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeDataResponse" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetLessonDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonDetails" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetLessonDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLessonDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetClockImageDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:GetClockImageDetails" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetClockImageDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetClockImageDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetStepNumbrs_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStepNumbrs" />
  </wsdl:message>
  <wsdl:message name="ItimeEditor_GetStepNumbrs_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStepNumbrsResponse" />
  </wsdl:message>
  <wsdl:portType name="ItimeEditor">
    <wsdl:operation name="SaveTimeData">
      <wsdl:input wsaw:Action="http://tempuri.org/ItimeEditor/SaveTimeData" message="tns:ItimeEditor_SaveTimeData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItimeEditor/SaveTimeDataResponse" message="tns:ItimeEditor_SaveTimeData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLessonDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ItimeEditor/GetLessonDetails" message="tns:ItimeEditor_GetLessonDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItimeEditor/GetLessonDetailsResponse" message="tns:ItimeEditor_GetLessonDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetClockImageDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/ItimeEditor/GetClockImageDetails" message="tns:ItimeEditor_GetClockImageDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItimeEditor/GetClockImageDetailsResponse" message="tns:ItimeEditor_GetClockImageDetails_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStepNumbrs">
      <wsdl:input wsaw:Action="http://tempuri.org/ItimeEditor/GetStepNumbrs" message="tns:ItimeEditor_GetStepNumbrs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ItimeEditor/GetStepNumbrsResponse" message="tns:ItimeEditor_GetStepNumbrs_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ItimeEditor" type="tns:ItimeEditor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveTimeData">
      <soap:operation soapAction="http://tempuri.org/ItimeEditor/SaveTimeData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLessonDetails">
      <soap:operation soapAction="http://tempuri.org/ItimeEditor/GetLessonDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClockImageDetails">
      <soap:operation soapAction="http://tempuri.org/ItimeEditor/GetClockImageDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStepNumbrs">
      <soap:operation soapAction="http://tempuri.org/ItimeEditor/GetStepNumbrs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="timeEditor">
    <wsdl:port name="BasicHttpBinding_ItimeEditor" binding="tns:BasicHttpBinding_ItimeEditor">
      <soap:address location="http://localhost:59736/visual%20tool%20webservice/timeEditor.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>